* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

.photosbody {
  background-color: #9B4444;
  text-align: center; 
}

.heading-1 {
  padding-top: 40px;
  padding-bottom: 0;
  margin-bottom: 0; 
  font-family: Instrument Serif;
  font-size: 40px;
}

.words_part {
  text-align: center;
  color: white; 
}

.last-words {
  color: white;
  text-align: center; 
  padding-bottom: 19px;
}

.radio {
  display: none;
}

.photos-container {
  position: relative;
  max-width: 410px;
  margin: 2.5% auto;
}

.slider {
  width: 100%;
  position: relative; 
  height: 0; 
  padding-top: 133.33%;
  background: #F3EDC8;
  overflow: hidden;
  border: solid 2px white;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

.slide {
  position: absolute; 
  width: 100%; 
  height: 100%; 
  top: 0; left: 0;
  opacity: 0; 
}

.slide img {
  width: 100%; 
  height: 100%; 
  object-fit: contain; 
  transform: scale(1.1);
  transition: 1.3s; 
}

.dots {
  width: 100%; 
  position: absolute; 
  bottom: 5%; 
  display: flex; 
  justify-content: center;
  align-items: center; 
}

.dots label {
  width: 15px; 
  height: 15px; 
  background: #9B4444; 
  margin: 0 10px; 
  border-radius: 50%; 
  opacity: 0.5; 
  cursor: pointer; 
  transition: 0.2s ease-in-out; 
}

.dots label:hover {
  opacity: 1; 
}

#radio-1:checked ~ #slide-1,
#radio-2:checked ~ #slide-2,
#radio-3:checked ~ #slide-3,
#radio-4:checked ~ #slide-4,
#radio-5:checked ~ #slide-5,
#radio-6:checked ~ #slide-6 {
  opacity: 1; 
}

#radio-1:checked ~ #slide-1 img, 
#radio-2:checked ~ #slide-2 img, 
#radio-3:checked ~ #slide-3 img,
#radio-4:checked ~ #slide-4 img,
#radio-5:checked ~ #slide-5 img,
#radio-6:checked ~ #slide-6 img {
  transform: scale(1);
}


